#--extra-index-url https://pypi.nvidia.com
#cudf-cu12
#dask-cudf-cu12
#cuml-cu12
#cugraph-cu12
#cuspatial-cu12
#cuproj-cu12
#cuxfilter-cu12
#cucim
wheel
black

json2html
jupyter
kaggle
ipython
ipykernel
stdlib-list
pipreqs
numpy
pandas
scikit-learn
matplotlib
seaborn
keras
torch
scipy
statsmodels
nltk
gensim
spacy
plotly
bokeh
dash
lightgbm
xgboost
catboost
selenium
beautifulsoup4
requests
sqlalchemy
pymysql
#psycopg2
joblib
pickle-mixin
h5py
pyspellchecker
transformers
#datasets
wandb
pathlib
sentencepiece
accelerate
nbconvert
huggingface_hub
tokenizers
#deepspeed
pip
polars
lightautoml
pyarrow
fastparquet

pyinstaller
stickytape

PyWavelets
librosa
albumentations
pytorch_lightning
torchvision
tensorflow
efficientnet
timm

jupyterlab
#



notebook
ipykernel
scikit-learn
pandas
tqdm
transformers
bitsandbytes
pytorch-lightning
sentencepiece
iterative-stratification
#text_unidecode
ipywidgets
#protobuf==3.20.1
